---
import { Image } from "astro:assets";
import Danzante from "../assets/danzante.png";
import Danzante2 from "../assets/danzante-2.png";
---

<section id="gallery" class="py-20 bg-gray-950">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16 text-white">
      <h2 class="text-4xl font-bold mb-4">Galería</h2>
      <div class="w-20 h-1 bg-purple-500 mx-auto"></div>
    </div>
    <div class="flex items-center justify-center">
      <div class="carousel carousel--scroll-buttons carousel--scroll-markers">
        <div class="carousel__slide" data-label="Slide 1">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante} alt="Danzante" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="carousel__slide" data-label="Slide 2">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante2} alt="Danzante 2" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="carousel__slide" data-label="Slide 3">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante} alt="Danzante 3" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="carousel__slide" data-label="Slide 4">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante2} alt="Danzante" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="carousel__slide" data-label="Slide 5">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante2} alt="Danzante 2" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
        <div class="carousel__slide" data-label="Slide 6">
          <article class="gallery-card">
            <figure class="gallery-figure">
              <picture>
                <Image src={Danzante} alt="Danzante 3" class="w-full h-auto" />
              </picture>
              <figcaption class="gallery-caption">
                <h5>Cyber Jumper</h5>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Quae, neque.
                </p>
              </figcaption>
            </figure>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
